
<div class="container">
  <input type="text" name="name" [(ngModel)]="name">
  <p>{{name}}</p>
  <div class="row">
    <div class="col-md-4" *ngFor="let items of products">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225"  src="{{items.image}}"/>
        <div class="card-body">
          <h3 [ngClass]="onShowClass()">{{items.name}}</h3>
          <p>{{items.price}}</p>

          <p>{{items.desc}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onClick(items)">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onDelete(items.id)">Delete</button>
            </div>
            <small class="text-muted">9 mins</small>

          </div>
        </div>
      </div>
    </div>

    <app-product-detail [products]="productDetail"></app-product-detail>
  </div>
</div>
